<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98542829205-8d927skuen9vtasal4t9083lmhetm1sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98542829205-8d927skuen9vtasal4t9083lmhetm1sk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98542829205-73gu9dqpsme5o358vmra9tsgasnq30er.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWxomwJys-vAXdtyrreAkGHTBJoZcWCt8</string>
	<key>GCM_SENDER_ID</key>
	<string>98542829205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linekw.momentoo</string>
	<key>PROJECT_ID</key>
	<string>momentoo-f4aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>momentoo-f4aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98542829205:ios:99ea812c26b9ac78fd259c</string>
	<key>DATABASE_URL</key>
	<string>https://momentoo-f4aa0.firebaseio.com</string>
</dict>
</plist>